<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body{
            background-color: #3a3a3a;
            font-family: "Open Sans";
            color: white;
        }
        a{
            color: white;
        }
    </style>
</head>
<body>
    <h1>Thanks for filling the form. We will get in touch as soon as possible.....</h1>
</body>
</html>